| Version | Published Date| Details |
| -- | -- | -- |
| ver.1.0.0 | 2024/02/14 | 初版リリース |

**↓必ず最初にセットアップ用のセルを実行し、完了（セルの左端にチェックマーク）してから取り組んでください。**

In [1]:
!git clone https://github.com/TechBowl-japan/SQLRailway-setup.git
!sudo sh ./SQLRailway-setup/setup.sh
%load_ext sql
%sql mysql+pymysql://root:root@localhost:3306/sql_railway

Cloning into 'SQLRailway-setup'...
remote: Enumerating objects: 66, done.
remote: Counting objects: 100% (66/66), done.
remote: Compressing objects: 100% (39/39), done.
remote: Total 66 (delta 25), reused 60 (delta 19), pack-reused 0
Receiving objects: 100% (66/66), 20.18 KiB | 10.09 MiB/s, done.
Resolving deltas: 100% (25/25), done.

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 25.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
su: warning: cannot change directory to /nonexistent: No such file or directory
mysql: [Warning] Using a password on the command line interface can be insecure.
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.5 MB/s eta 0:00:00

# 複雑な条件検索をしてみよう

station2ではWHEREを使って条件指定し、データを取り出してみました。

このstationではより複雑な条件でデータを取り出してみましょう。

## 範囲を条件にしてみよう(BETWEEN)

`BETWEEN` はある値の範囲を条件として指定するのに使います。

次のセルのクエリは誕生日が1990年1月1日から2000年12月31日のユーザーのデータを取り出します。実行してみましょう。

In [2]:
%sql SELECT * FROM users WHERE birthday BETWEEN '1990-01-01' AND '2000-12-31';

 * mysql+pymysql://root:***@localhost:3306/sql_railway
36 rows affected.

[(2, '山田 太郎', datetime.date(1990, 7, 25), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (4, '佐藤 由美', datetime.date(1995, 5, 18), '女', 27, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (6, '渡辺 美咲', datetime.date(1998, 2, 22), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (8, '木村 美香', datetime.date(1991, 12, 7), '女', 31, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (11, '田村 裕太', datetime.date(1993, 10, 17), '男', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (13, '松本 明日香', datetime.date(1997, 9, 28), '女', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (15, '大西 みさ', datetime.date(1994, 7, 11), '女', 28, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (17, '小山 美沙', datetime.date(1996, 4, 5), '女', 26, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (19, '橋本 美和', datetime.date(1999, 8, 19), '女', 23, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (21, '井上 あや', datetime.date(1992, 6, 28), '女', 30, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (23, '北村 さやか', datetime.date(1990, 3, 26), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (25, '山口 まり', datetime.date(1993, 9, 8), '女', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (27, '佐々木 みさき', datetime.date(1997, 1, 10), '女', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (29, '村上 亜美', datetime.date(1995, 8, 21), '女', 27, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (35, '佐野 まりな', datetime.date(1994, 11, 7), '女', 28, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (39, '岡本 みさと', datetime.date(1996, 7, 19), '女', 26, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (40, '服部 剛', datetime.date(1990, 1, 1), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (42, '中田 裕介', datetime.date(1997, 10, 25), '男', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (45, '福田 美穂', datetime.date(1992, 2, 4), '女', 30, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (47, '石井 美紀', datetime.date(1993, 5, 29), '女', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (49, '安田 さやか', datetime.date(1998, 9, 1), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (50, '新井 健太', datetime.date(1996, 10, 3), '男', 26, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (66, '谷田部 悠太', datetime.date(2000, 5, 24), '男', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (67, '佐藤 花子', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (68, '田村 太郎', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (70, '渡辺 由美', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (71, '高橋 健太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (73, '鈴木 健司', datetime.date(1990, 1, 20), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (74, '大西 美香', datetime.date(2000, 11, 10), '女', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (76, '田中 さくら', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (77, '岡田 裕太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (79, '伊藤 明日香', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (80, '山田 勇太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

誕生日が1990年1月1日~2000年12月31日のレコードが出力されていれば成功です。

`BETWEEN {A} AND {B}` はAからBの範囲を指定するという意味になります。

このように`BETWEEN` を使うことで範囲を条件にすることができます。

また、比較演算子を使うことで`BETWEEN` と同じ結果を得ることができます。

次のセルを実行してみましょう。

In [3]:
%sql SELECT * FROM users WHERE birthday >= '1990-01-01' AND birthday <= '2000-12-31';

 * mysql+pymysql://root:***@localhost:3306/sql_railway
36 rows affected.

[(2, '山田 太郎', datetime.date(1990, 7, 25), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (4, '佐藤 由美', datetime.date(1995, 5, 18), '女', 27, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (6, '渡辺 美咲', datetime.date(1998, 2, 22), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (8, '木村 美香', datetime.date(1991, 12, 7), '女', 31, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (11, '田村 裕太', datetime.date(1993, 10, 17), '男', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (13, '松本 明日香', datetime.date(1997, 9, 28), '女', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (15, '大西 みさ', datetime.date(1994, 7, 11), '女', 28, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (17, '小山 美沙', datetime.date(1996, 4, 5), '女', 26, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (19, '橋本 美和', datetime.date(1999, 8, 19), '女', 23, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (21, '井上 あや', datetime.date(1992, 6, 28), '女', 30, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (23, '北村 さやか', datetime.date(1990, 3, 26), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (25, '山口 まり', datetime.date(1993, 9, 8), '女', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (27, '佐々木 みさき', datetime.date(1997, 1, 10), '女', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (29, '村上 亜美', datetime.date(1995, 8, 21), '女', 27, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (35, '佐野 まりな', datetime.date(1994, 11, 7), '女', 28, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (39, '岡本 みさと', datetime.date(1996, 7, 19), '女', 26, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (40, '服部 剛', datetime.date(1990, 1, 1), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (42, '中田 裕介', datetime.date(1997, 10, 25), '男', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (45, '福田 美穂', datetime.date(1992, 2, 4), '女', 30, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (47, '石井 美紀', datetime.date(1993, 5, 29), '女', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (49, '安田 さやか', datetime.date(1998, 9, 1), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (50, '新井 健太', datetime.date(1996, 10, 3), '男', 26, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (66, '谷田部 悠太', datetime.date(2000, 5, 24), '男', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (67, '佐藤 花子', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (68, '田村 太郎', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (70, '渡辺 由美', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (71, '高橋 健太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (73, '鈴木 健司', datetime.date(1990, 1, 20), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (74, '大西 美香', datetime.date(2000, 11, 10), '女', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (76, '田中 さくら', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (77, '岡田 裕太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (79, '伊藤 明日香', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (80, '山田 勇太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

先ほどの`BETWEEN` を使ったクエリと同じレコードが出力されていれば成功です。

このように`BETWEEN` を使わなくても同じ結果を得ることができます。しかし、比較演算子で表現するよりも`BETWEEN` を使ったクエリの方が直感的で分かりやすいです。

ですので、今回のようなケースではより読みやすい`BETWEEN` を使うべきと言えます。

#### 可読性

このようなクエリの読みやすさを__可読性__といいます。

読みやすく、理解しやすい状態であれば「可読性が高い」と言えます。逆に読みにくく、理解しにくい状態であれば「可読性が低い」と言えます。

## 一覧のいずれかに一致するレコードを取り出してみよう(IN)

INはいずれかの値を条件として指定するのに使います。

次のセルのクエリは誕生日が2000年1月1日、2001年1月1日、2002年1月1日のいずれかのユーザーのデータを取り出します。実行してみましょう。

In [4]:
%sql SELECT * FROM users WHERE birthday IN ('2000-01-01', '2001-01-01', '2002-01-01');

 * mysql+pymysql://root:***@localhost:3306/sql_railway
3 rows affected.

[(37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (64, '高橋 雅子', datetime.date(2001, 1, 1), '女', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (65, '鈴木 美香', datetime.date(2002, 1, 1), '女', 20, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

誕生日が2000年1月1日、2001年1月1日、2002年1月1日のいずれかのレコードが出力されていたら成功です。

このように`IN (A, B, C...)` は括弧内に並べた値のいずれかに一致するものを取り出します。

また、上記クエリは`BETWEEN` と同じように比較演算子を使って同じ結果を得ることができます。

次のセルを実行してみましょう。

In [5]:
%sql SELECT * FROM users WHERE birthday = '2000-01-01' OR birthday = '2001-01-01' OR birthday = '2002-01-01';

 * mysql+pymysql://root:***@localhost:3306/sql_railway
3 rows affected.

[(37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (64, '高橋 雅子', datetime.date(2001, 1, 1), '女', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (65, '鈴木 美香', datetime.date(2002, 1, 1), '女', 20, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

先ほどの`IN` を使ったクエリと同じレコードが出力されていれば成功です。

このように`IN` を使わなくても同じ結果を得ることができます。しかし、こちらも`IN` を使ったクエリの方が直感的で分かりやすいです。

つまり、`IN` を使ったほうが可読性が上がるのでこれも`IN` を使うべきと言えます。

## 部分一致を条件にしてみよう(LIKE)

`LIKE` は文字列検索に使います。

次のセルを実行してみましょう。

In [6]:
%sql SELECT * FROM users WHERE name LIKE '田中 太郎';

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(63, '田中 太郎', datetime.date(2010, 8, 3), '男', 12, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

名前が「田中太郎」のレコードが1件出力されていれば成功です。

このように`WHERE {カラム名} LIKE '{文字列}'` は条件に指定したカラムで一致する文字列のレコードを取り出します。

しかし、LIKE句は上記クエリのような使い方はあまりしません。

なぜなら`WHERE name = '田中 太郎'` とした時と同じ結果になります。つまり完全一致した文字列を取り出します。

これだけだと`LIKE` を使う必要はあまりありません。

ですので、LIKE句は主に部分一致の検索をしたいときに使います。

まずは次のセルを実行してみましょう。

In [7]:
%sql SELECT * FROM users WHERE name LIKE '%田%';

 * mysql+pymysql://root:***@localhost:3306/sql_railway
29 rows affected.

[(1, '田中 花子', datetime.date(1985, 3, 12), '女', 37, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (2, '山田 太郎', datetime.date(1990, 7, 25), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (10, '吉田 さくら', datetime.date(1987, 6, 3), '女', 35, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (11, '田村 裕太', datetime.date(1993, 10, 17), '男', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (12, '岡田 佳子', datetime.date(1982, 1, 23), '女', 40, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (24, '西田 和彦', datetime.date(1984, 5, 14), '男', 38, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (30, '高田 勇也', datetime.date(1987, 12, 3), '男', 35, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (34, '森田 裕太', datetime.date(1976, 8, 23), '男', 46, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (36, '神田 健一', datetime.date(1986, 5, 5), '男', 36, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (37, '沢田 みゆき', datetime.date(2000, 1, 1), '女', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (41, '岸田 あさみ', datetime.date(1985, 4, 13), '女', 37, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (42, '中田 裕介', datetime.date(1997, 10, 25), '男', 25, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (45, '福田 美穂', datetime.date(1992, 2, 4), '女', 30, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (49, '安田 さやか', datetime.date(1998, 9, 1), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (51, '田中 花子', datetime.date(2018, 5, 15), '女', 4, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (52, '山田 太郎', datetime.date(1920, 12, 2), '男', 102, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (59, '吉田 さくら', datetime.date(1930, 4, 5), '女', 92, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (60, '田村 裕太', datetime.date(2018, 10, 22), '男', 4, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (61, '岡田 佳子', datetime.date(1929, 3, 7), '女', 93, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (63, '田中 太郎', datetime.date(2010, 8, 3), '男', 12, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (66, '谷田部 悠太', datetime.date(2000, 5, 24), '男', 22, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (68, '田村 太郎', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (69, '吉田 一郎', datetime.date(2010, 5, 23), '男', 11, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (76, '田中 さくら', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (77, '岡田 裕太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (80, '山田 勇太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (82, '山田 菜々子', datetime.date(2004, 4, 1), '女', 18, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (84, '田中 美優', datetime.date(2004, 4, 5), '女', 18, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

名前に「田」が含まれるユーザーのレコードが出力されていれば成功です。

部分一致の検索を行うにはワイルドカードの`%` を使います。

`%` は0文字以上の文字列がマッチします。この場合は名前のどこかに「田」が含まれるデータが取得できます。

```
例）LIKE '%田%'
○ 田中
○ 田村
○ 中田
○ 田
```

では`WHERE name LIKE '田%'` とした場合はどうなるのでしょうか。

次のセルを実行して確認しましょう。

In [8]:
%sql SELECT * FROM users WHERE name LIKE '田%';

 * mysql+pymysql://root:***@localhost:3306/sql_railway
9 rows affected.

[(1, '田中 花子', datetime.date(1985, 3, 12), '女', 37, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (11, '田村 裕太', datetime.date(1993, 10, 17), '男', 29, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (33, '田辺 さゆり', datetime.date(1991, 4, 30), '女', 31, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (51, '田中 花子', datetime.date(2018, 5, 15), '女', 4, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (60, '田村 裕太', datetime.date(2018, 10, 22), '男', 4, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (63, '田中 太郎', datetime.date(2010, 8, 3), '男', 12, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (68, '田村 太郎', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (76, '田中 さくら', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (84, '田中 美優', datetime.date(2004, 4, 5), '女', 18, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

名前が「田」から始まるユーザーのレコードが出力されていれば成功です。

先ほどと比較して出力されたレコードが少ないですね。これは名前に「田」が含まれているが、名前の先頭ではないユーザーが除外されたからです。

```
例）LIKE '田%'
○ 田中
○ 田村
× 中田
○ 田
```

このようにワイルドカードの「%」を使うことで部分一致の検索ができます。

## コメントアウト
SQLにはコメントを残すことができます。

コメントとはその名の通りクエリに対するコメントなどを書きます。

このコメントはSQLを実行する際は全て無視されます。

下記のような複雑なクエリの説明や用途、クエリからは読み取れないようなクエリを作成した背景などをコメントに残したりします。

コメントを書くには行の先頭に「--」を入れるとコメントとして扱われます。

In [9]:
%%sql
-- 名前に「山」か「谷」を含む2000年生まれの男性のデータを取得するクエリ
SELECT *
FROM users
WHERE birthday BETWEEN '2000-01-01' AND '2000-12-31'
AND gender = '男'
AND (
  name LIKE '%山%'
  OR name LIKE '%谷％'
);

 * mysql+pymysql://root:***@localhost:3306/sql_railway
1 rows affected.

[(80, '山田 勇太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

コメントアウトは他にも「#」や複数行のコメントアウトができる「/* */」などがあります。

# 確認テスト

(1)usersテーブルから生年月日が2004年4月1日〜2004年4月5日の女性で検索した結果の件数を入力してください。

In [17]:
%sql SELECT * FROM users WHERE birthday BETWEEN '2004-04-01' AND '2004-04-05'

 * mysql+pymysql://root:***@localhost:3306/sql_railway
3 rows affected.

[(82, '山田 菜々子', datetime.date(2004, 4, 1), '女', 18, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (83, '佐藤 みゆき', datetime.date(2004, 4, 3), '女', 18, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (84, '田中 美優', datetime.date(2004, 4, 5), '女', 18, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

(2)usersテーブルから名前に「川」と「太」が含むユーザーを検索した結果の件数を入力してください。

In [22]:
%%sql SELECT * FROM users WHERE name LIKE "%川%"

 * mysql+pymysql://root:***@localhost:3306/sql_railway
2 rows affected.

[(16, '古川 健太郎', datetime.date(1975, 11, 20), '男', 47, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (31, '小川 かおり', datetime.date(1998, 6, 14), '女', 24, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]

(3)usersテーブルから生年月日が1990年1月20日、2000年11月10日、2010年5月23日のいずれかのユーザーを検索した結果の件数を入力してください。

In [16]:
%sql SELECT * FROM users WHERE birthday = '1990-01-20' OR birthday = '2000-11-10' OR birthday = "2010-05-23"

 * mysql+pymysql://root:***@localhost:3306/sql_railway
15 rows affected.

[(67, '佐藤 花子', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (68, '田村 太郎', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (69, '吉田 一郎', datetime.date(2010, 5, 23), '男', 11, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (70, '渡辺 由美', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (71, '高橋 健太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (72, '中村 美咲', datetime.date(2010, 5, 23), '女', 11, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (73, '鈴木 健司', datetime.date(1990, 1, 20), '男', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (74, '大西 美香', datetime.date(2000, 11, 10), '女', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (75, '小林 啓介', datetime.date(2010, 5, 23), '男', 11, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (76, '田中 さくら', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (77, '岡田 裕太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (78, '松本 佳子', datetime.date(2010, 5, 23), '女', 11, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (79, '伊藤 明日香', datetime.date(1990, 1, 20), '女', 32, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (80, '山田 勇太', datetime.date(2000, 11, 10), '男', 21, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36)),
 (81, '木村 みさ', datetime.date(2010, 5, 23), '女', 11, datetime.datetime(2024, 2, 19, 1, 15, 36), datetime.datetime(2024, 2, 19, 1, 15, 36))]